<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <ul class="list-group my-5">
      <% @companies.each do |company| %>
        <div class="row list-group-item list-group-item-action">
          <a href="<%= company_path(company) %>" class="list-group-item-action">
            <%= company.name %>
          </a>
          <a href="<%= company_path(company) %>" data-method="delete" data-confirm="Are you sure want to delete this company?">
              <button id="<%= company.id%>" type="button" class="close text-danger" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </a>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>
